<div class="cart--item-list-container">
    <ul class="item-list cart--item-list">
      <li *ngFor="let item of cartInventory">
        <img
          class="cart--item-icon"
          [src]="'/assets/icons/' + item.id + '.svg'"
          alt="beetroot"
        />
        <p>{{ item.name }}</p>
        <button class="quantity-btn remove-btn center" (click)="decrement(item)">-</button>
        <span class="quantity-text center">{{ item.quantity }}</span>
        <button class="quantity-btn add-btn center" (click)="increment(item)">+</button>
      </li>
    </ul>
  </div>
  